<div class="test"><h1>New Recipe</h1></div>


<%= form_tag recipes_path do %>
<div id="recipe_form">
  <div>
    <%= label_tag "recipe_form[title]", "Title" %>
    <%= text_field_tag "recipe_form[title]" %>
  </div>
  <div>
    <%= label_tag "recipe_form[instructions]", "Instructions" %>
    <%= text_area_tag "recipe_form[instructions]" %>
  </div>
  <div>
    <a href="javascript:;" id="addNewIngredient">Add Another Ingredient</a>
  </div>
  <div>
    <% 3.times do %>
      <%= render partial: "new_ingredient_form" %>
    <% end %>
  </div>

</div>

  <%= submit_tag %>

<% end %>

<!-- http://stackoverflow.com/questions/17839147/dynamically-add-fields-in-rails-with-out-nested-attributes -->

<div class="hide" id="new_ingredient_form">
  <%= render partial: "new_ingredient_form" %>
</div>
