<h1>New Recipe</h1>

<%= form_tag recipes_path %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :directions %>
    <%= text_area_tag :directions %>
  </div>

  <%= submit_tag %>
<% end %>
