<h1>Recipe Show Page</h1>
<h2><%= @recipe.title %></h2>
<h3><%= @recipe.author %></h3>
<p><%= @recipe.instructions %></p>
<ul>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <li>
    <%= recipe_ingredient.ingredient.name %> |
    quantity: <%= recipe_ingredient.amount %> <%= recipe_ingredient.units %>
  </li>
<% end %>

<div>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe), {:class => "btn btn-default btn-sm"} %>
</div>

<div>
  <%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-default btn-sm" %>
</div>
